<div class="relative w-[35%] mx-auto mb-2.5">
  <!-- <p class="text-white">he{{ blogPost?.ImageUrl }}</p> -->
  <img
    [src]="blogPost?.imageUrl"
    alt="Centered Image"
    class="w-full"
    (click)="openPreview()"
  />
  <div
    class="absolute top-2 right-2 bg-white/20 backdrop-blur-md rounded-lg p-2 flex flex-col"
  >
    <a
      *ngFor="let item of menuItems"
      class="relative flex items-center group mb-2 hover:scale-110"
      (click)="openModal(item)"
    >
      <img [src]="item.icon" [alt]="item.label" class="w-6 h-6 rounded-lg" />
      <span
        class="absolute left-full ml-2 whitespace-nowrap px-2 py-1 bg-black text-white text-xs rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        {{ item.label }}
      </span>
    </a>
  </div>
</div>

<app-modal
  *ngIf="isModalOpen"
  [selectedItem]="selectedItem"
  (close)="closeModal()"
  (continue)="modalContinueResponse(selectedItem?.label)"
>
</app-modal>

<app-image-preview-dock-menu
  *ngIf="isPreviewOpen"
  [rotate]="rotate"
  [imageUrl]="blogPost?.imageUrl"
  (rotateChange)="onRotateChange($event)"
  (closePreview)="onClosePreview()"
/>
