<div
  class="fixed flex bg-white/10 p-3 rounded-2xl shadow-lg backdrop-blur-md w-auto"
  [ngClass]="{
    'left-5 top-1/2 transform -translate-y-1/2 flex-col max-h-[90vh] sm:max-h-[80vh] md:max-h-[70vh] lg:max-h-[60vh] xl:max-h-[50vh]': position === 'left',
    'bottom-5 left-1/2 transform -translate-x-1/2 max-w-[90vw] sm:max-w-[80vw] md:max-w-[70vw] lg:max-w-[60vw] xl:max-w-[50vw]': position === 'down',
    'right-5 top-1/2 transform -translate-y-1/2 flex-col max-h-[90vh] sm:max-h-[80vh] md:max-h-[70vh] lg:max-h-[60vh] xl:max-h-[50vh]': position === 'right'
  }"
>
  <a
    *ngFor="let item of menuItems"
    class="relative flex flex-col items-center text-white text-sm transition-transform hover:scale-125 focus:outline-none group"
    [ngClass]="{
      'my-3': position === 'left' || position === 'right',
      'mx-3': position === 'down'
    }"
    tabindex="0"
    [class]="activeUrl === item.url ? 'border-b-2 border-white/20 scale-125' : ''"
    (click)="onMenuItemClick(item.url)"
  >
    <span
      class="absolute whitespace-nowrap px-2 py-1 bg-black text-white text-xs rounded opacity-0 group-hover:opacity-100 focus:opacity-100 transition-opacity duration-300"
      [ngClass]="{
        'left-14': position === 'left',
        'bottom-14': position === 'down',
        'right-14': position === 'right'
      }"
    >{{ item.label }}</span>
    <img [src]="item.icon" [alt]="item.label" class="w-12 h-12 sm:h-10 rounded-lg" />
  </a>
</div>